/*--------General elements-----------*/
body {
  color: #ffff;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  flex-direction: column;
  text-align: center;
  background-image: url(/Images/Orbit.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content_description {
  font-size: 30px;
  flex-direction: column;
  display: flex;
}

/*------------NavBar-----------*/
header {
  background: #3b4a75;
  color: #ffff;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1%;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.NavBar {
  width: 80%;
  margin: 0 auto;
}
.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 75px;
  padding-top: 10px;
  position: relative;
}

nav a {
  color: #ffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #8790a8;
  text-decoration: none;
}

nav a::before {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  width: 0%;
  background: #ffff;
  position: absolute;
  bottom: -8px;
}

nav a:hover::before {
  width: 100%;
  transition: all 0.25s ease-in-out;
}
/*------------Contact-----------*/
section {
  width: 80%;
  height: auto;
  border-left: 10%;
  border-right: 10%;
  padding-top: 0.05%;
  background-color: #3b4a75;
  margin: auto;
  background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  box-shadow: 3px 3px 5px black;
}

#cntTitle {
  font-size: 300%;
  margin-bottom: 0px;
}

#block {
  height: 5px;
  width: 50px;
  background-color: #50c5fc;
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom: 20px;
  right: 20px;
}

#cntText {
  font-size: 150%;
}

#email {
  margin: 30px;
  resize: none;
  font-family: "Roboto", sans-serif;
  height: 472px;
  width: 472px;
  position: relative;
}

#stemMap {
  margin: 30px;
  height: 472px;
  width: 472px;
  position: relative;
}

#sendEmail {
  background-color: #004d4d;
  font-size: 135%;
  padding: 5px;
  box-shadow: 3px 3px 5px black;
}

#sendEmail:hover {
  background-color: #003333;
  cursor: pointer;
}

/*------------Footer-----------*/

.footer {
  position: absolute;
  overflow: hidden;
  margin-top: auto;
  background-color: #c5d7db;
}

.company-name-footer {
  display: block;
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer-content-social {
  position: absolute;
  left: 0;
  bottom: 20;
}

.footer-content-pages {
  position: absolute;
  right: 0;
  bottom: 0;
}
