*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
}
body{
    font-size:40px;
    scroll-behavior: smooth;
    font-family:'Roboto'
}
section{
    height:800px;
    display:flex;
    align-items:center; 
}
section h2{
    font-size:50px;
    font-weight:500;
    margin-bottom:5px;
}
section p{
    font-weight:300;

}
