*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
}
body{
    font-size:40px;
    scroll-behavior: smooth; 
    background-color: blue;
}
section{
    height:650px;
    display:flex;
    justify-content:space-evenly;
    padding: 0 40px;
    align-items:center; 
}
section h2{
    font-size:50px;
    font-weight:500;
    margin-bottom:5px;
}
section p{
    font-weight:300;
    margin-bottom: 15px;
}
section img{
    height: 60%;
    display:flex;
}

