 /*--------General elements-----------*/ 
 body {
    background: #3B4A75;
    color: #ffff;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    flex-direction:column;
}

  /*------------NavBar-----------*/
header{
    background: #3B4A75;
    color: #ffff;
    font-family: 'Roboto', sans-serif;

}

header::after{
    content: "";
    display: table;
    clear: both;
}

.NavBar{
      width: 80%;
      margin: 0 auto;
  }
.logo{
    float: left;
    padding: 0px 0;
  }

nav{
    float: right;
    
  }

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

nav li{
    display: inline-block;
    margin-left: 75px;
    padding-top: 4%;
    position: relative;
  }

nav a{
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
  }

nav a:hover{
    color: #8790A8;
    text-decoration: none;
  }

nav a::before{
    content: "";
    display: block;
    width: 0;
    height: 5px;
    width: 0%;
    background: #ffff;
    position: absolute;
    bottom:-8px;
  }
nav a:hover::before{
    width: 100%;
    transition: all 0.25s ease-in-out;
  }
/*------------Future-----------*/
#timeline{
    display: flex;
    background-color: #3B4A75;
}

#timeline:hover .timeline-item{
    width: 30%;
}

.timeline-item{
    transform: translate3d(0,0,0);
    position: relative;
    width: 50%;
    height: 100vh;
    min-height: 600px;
    overflow: hidden;
    transition: width 0.5s ease;
}

.timeline-item:before, .t1-item:after{
    transform: translate3d(0,0,0);
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.timeline-item:after{
    background: #8790A8;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.timeline-item:before{
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0,0,0) translateY(50%);
    transition: opacity 0.5s ease, 
    transform 0.5s ease;
}


.timeline-item:hover{
    width: 40% !important;
}

.timeline-item:hover:after{
    opacity: 0;
}

.timeline-item:hover:before{
    opacity: 1;
    transform: translate3d(0,0,0) translateY(0);
    transition: opacity 1s ease, transform 1s ease 0.25s;
}

.timeline-item:hover .timeline-content{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.65s ease 0.5s;
}

.timeline-item:hover .timeline-bg{
    filter: grayscale(0);
}

.timeline-content{
    transform: translate3d(0,0,0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0.1618em;
    top: 55%;
    opacity: 0;
}

.timeline-content h2{
    text-transform: uppercase;
    font-size: 1.44rem;
    font-weight: normal;
}

.timeline-year{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.timeline-year h1{
    font-size: 1.628rem;
    line-height: 1.25;
}

.timeline-bg{
    transform: translate3d(0,0,0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(75%);
}

.page-transition1 img{
    position: absolute;
    background-color: transparent;
    top: 50%;
    right: 0.5%;
}

.page-transition1:hover img{
    content: url("Images/arrow_black_rotated.png");

}

.page-transition2 img{
    position: absolute;
    background-color: transparent;
    top: 50%;
    left: 0.5%
}

.page-transition2:hover img{
    content: url("Images/arrow_black.png");
}

/*------------Footer-----------*/

.footer {
    position: absolute;
    overflow: hidden;
    margin-top: auto;
    background-color: black;
  }

  .company-name-footer{
    display: block;
    margin:  auto;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .footer-content-social{
    position: absolute;
    left: 0;
    bottom: 20;

  }

  .footer-content-pages{
    position: absolute;
    right: 0;
    bottom: 0;

  }

.slide-in{
  animation: slide-in 0.5s ease forwards;
}

@keyframes slide-in{
  from{
    transform: translateX(100%);
    visibility: visible;
  }
  to{
    transform: translateX(0%);
  }
}